<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Mocidade INA</title><link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#00354e">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#00354e">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Mocidade INA">
    <link rel="stylesheet" href="fonts/stylesheet.css">
    <link rel="stylesheet" href="fonts/themify-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/0.7.13/vue-router.min.js"></script>
  </head>
  <body id="app">
    <header class="header_main">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4 wrap_logo"><img src="img/logo_mocidadeina-blue.svg" alt=""></div>
        </div>
        <div class="row"></div>
      </div>
    </header>
    <nav class="nav_main container hidden-xs"><a v-link="{ path: '/events' }"><span class="ti-calendar"></span><span class="text">eventos</span></a><a v-link="{ path: '/infos' }"><span class="ti-info-alt"></span><span class="text">informações</span></a><a v-link="{ path: '/print' }"><span class="ti-pin-alt"></span><span class="text">print</span></a></nav>
    <nav class="nav_main-mobile visible-xs-block"><a v-link="{ path: '/events' }"><span class="ti-calendar"></span></a><a v-link="{ path: '/infos' }"><span class="ti-info-alt"></span></a><a v-link="{ path: '/print' }"><span class="ti-pin-alt"></span></a></nav>
    <div class="page_loading loading"></div>
    <router-view></router-view>
    <template id="pgEventos">
      <main class="container">
        <aside class="aside_eventlist col-sm-4">
          <div v-for="event in events" v-link="{name: 'event', params: {id: $index}}" class="row">
            <article class="article_events">
              <div class="wrap_data"><span class="day">{{event.dia}}</span><span class="month">{{event.mes}}</span></div>
              <div class="wrap_content">
                <hgroup class="hidden-xs">
                  <h1 class="h2">{{event.evento}}</h1>
                  <h2 class="h3">{{event.local}}</h2>
                </hgroup>
                <hgroup class="visible-xs-block">
                  <h1 class="h3">{{event.evento}}</h1>
                  <h2 class="h4">{{event.local}}</h2>
                </hgroup><span class="week">{{event.semana}} {{event.horario}}</span>
              </div>
            </article>
          </div>
        </aside>
      </main>
    </template>
    <template id="pgEvento">
      <header class="header_single">
        <div class="wrap_data">
          <div class="container"><span class="day">{{events[$route.params.id].dia}}</span><span class="month">{{events[$route.params.id].mes}}</span></div>
        </div>
      </header>
      <main class="main_single container">
        <h1>{{events[$route.params.id].evento}}</h1>
        <h2>{{event.local}}</h2><span class="week">{{events[$route.params.id].semana}} {{events[$route.params.id].horario}}</span>{{{events[$route.params.id].descricao | content}}}
      </main>
    </template>
    <template id="pgInformacoes">
      <header class="header_single">
        <div class="wrap_data">
          <div class="container"><span class="day">infos</span></div>
        </div>
      </header>
      <main class="container">
        <div class="row">
          <article v-for="information in informations" v-link="{name: 'information', params: {id: $index}}" class="article_infos col-sm-8 col-sm-offset-2">
            <h2>{{information.local}}</h2>
          </article>
        </div>
      </main>
    </template>
    <template id="pgInformacao">
      <header class="header_single">
        <div class="wrap_data">
          <div class="container">
            <h1>{{informations[$route.params.id].local}}</h1>
          </div>
        </div>
      </header>
      <main class="main_single container">
        <dl>
          <dt>Dia</dt>
          <dd>{{informations[$route.params.id].semana}}</dd>
          <dt>Horário</dt>
          <dd>{{informations[$route.params.id].horario}}</dd>
          <dt>Endereço</dt>
          <dd>{{informations[$route.params.id].endereco}}</dd>
          <dt>Infos</dt>
          <dd>{{informations[$route.params.id].descricao}}</dd>
        </dl>{{{informations[$route.params.id].map | map}}}
      </main>
    </template>
    <template id="pgPrint">
      <header class="header_single">
        <div class="wrap_data">
          <div class="container"><span class="day">print</span></div>
        </div>
      </header>
      <main>
        <article v-link="{ path: '/print/month' }" class="article_events col-sm-8 col-sm-offset-2">
          <h2>Eventos do Mês</h2>
        </article>
        <article v-link="{ path: '/print/day' }" class="article_events col-sm-8 col-sm-offset-2">
          <h2>Próximo evento</h2>
        </article>
      </main>
    </template>
    <template id="pgPrintMonth">
      <div class="print_month">
        <div class="content">
          <h3>Eventos do Mês</h3>
          <article class="article_print">
            <div class="wrap_data"><span class="day">{{events[0].dia}}</span><span class="month">{{events[0].mes}}</span><span class="week">{{events[0].semana}} {{events[0].horario}}</span></div>
            <div class="wrap_content">
              <hgroup>
                <h1 class="h3">{{events[0].evento}}</h1>
                <h2 class="h4">{{events[0].local}}</h2>
              </hgroup>
            </div>
          </article>
          <article class="article_print">
            <div class="wrap_data"><span class="day">{{events[1].dia}}</span><span class="month">{{events[1].mes}}</span><span class="week">{{events[1].semana}} {{events[1].horario}}</span></div>
            <div class="wrap_content">
              <hgroup>
                <h1 class="h3">{{events[1].evento}}</h1>
                <h2 class="h4">{{events[1].local}}</h2>
              </hgroup>
            </div>
          </article>
          <article class="article_print">
            <div class="wrap_data"><span class="day">{{events[2].dia}}</span><span class="month">{{events[2].mes}}</span><span class="week">{{events[2].semana}} {{events[2].horario}}</span></div>
            <div class="wrap_content">
              <hgroup>
                <h1 class="h3">{{events[2].evento}}</h1>
                <h2 class="h4">{{events[2].local}}</h2>
              </hgroup>
            </div>
          </article>
          <article class="article_print">
            <div class="wrap_data"><span class="day">{{events[3].dia}}</span><span class="month">{{events[3].mes}}</span><span class="week">{{events[3].semana}} {{events[3].horario}}</span></div>
            <div class="wrap_content">
              <hgroup>
                <h1 class="h3">{{events[3].evento}}</h1>
                <h2 class="h4">{{events[3].local}}</h2>
              </hgroup>
            </div>
          </article>
          <h5>mais infos em ina.o4o.io</h5>
        </div>
      </div>
    </template>
    <template id="pgPrintDay">
      <div class="print_day">
        <div class="content">
          <h3>Semana que vem</h3>
          <div class="wrap_data"><span class="day">{{events[0].dia}}</span><span class="month">{{events[0].mes}}</span></div>
          <h1>{{events[0].evento}}</h1>
          <h2>{{events[0].local}}</h2>
          <h5>mais infos em ina.o4o.io</h5>
        </div>
      </div>
    </template>
    <script src="js/app.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>