doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title= choustrap
    link(rel="stylesheet", href="fonts/stylesheet.css")
    link(rel="stylesheet", href="fonts/themify-icons.css")
    link(rel="stylesheet", href="css/style.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/0.7.13/vue-router.min.js")

  body#app
    header.header_main
      .container
        .row
          .col-sm-4.col-sm-offset-4.wrap_logo
            img(src="img/logo_mocidadeina-blue.svg", alt="")
        .row
    nav.nav_main.container.hidden-xs
      a(v-link="{ path: '/events' }")
        span.ti-calendar
        span.text eventos
      a(v-link="{ path: '/infos' }")
        span.ti-info-alt
        span.text informações
      a(v-link="{ path: '/print' }")
        span.ti-pin-alt
        span.text print
    nav.nav_main-mobile.visible-xs-block
      a(v-link="{ path: '/events' }")
        span.ti-calendar
      a(v-link="{ path: '/infos' }")
        span.ti-info-alt
      a(v-link="{ path: '/print' }")
        span.ti-pin-alt

    
    router-view

    template#pgEventos
      main.container
        aside.aside_eventlist.col-sm-4
          .row(v-for="event in events", v-link="{name: 'event', params: {id: $index}}")
            article.article_events
              .wrap_data
                span.day {{event.dia}}
                span.month {{event.mes}}
              .wrap_content
                hgroup.hidden-xs
                  h1.h2 {{event.evento}}
                  h2.h3 {{event.local}}
                hgroup.visible-xs-block
                  h1.h3 {{event.evento}}
                  h2.h4 {{event.local}}
                span.week {{event.semana}} {{event.horario}}
                //- p {{event.descricao}}

    template#pgEvento
      header.header_single
        .wrap_data
          .container
            span.day {{events[$route.params.id].dia}}
            span.month {{events[$route.params.id].mes}}
          
      main.main_single.container
        h1 {{events[$route.params.id].evento}}
        h2 {{event.local}}
        span.week {{events[$route.params.id].semana}} {{events[$route.params.id].horario}}
        {{{events[$route.params.id].descricao | content}}}

    template#pgInformacoes
      header.header_single
        .wrap_data
          .container
            span.day infos
      main.container
        .row
          article.article_infos.col-sm-8.col-sm-offset-2(v-for="information in informations", v-link="{name: 'information', params: {id: $index}}")
            h2 {{information.local}}

    template#pgInformacao
      header.header_single
        .wrap_data
          .container
            h1 {{informations[$route.params.id].local}}
      main.main_single.container
        dl
          dt Dia
          dd {{informations[$route.params.id].semana}}
          dt Horário
          dd {{informations[$route.params.id].horario}}
          dt Endereço
          dd {{informations[$route.params.id].endereco}}
          dt Infos
          dd {{informations[$route.params.id].descricao}}
          
        {{{informations[$route.params.id].map | map}}}

    template#pgPrint
      header.header_single
        .wrap_data
          .container
            span.day print
      main
        article.article_events.col-sm-8.col-sm-offset-2(v-link="{ path: '/print/month' }")
          h2 Eventos do Mês
        article.article_events.col-sm-8.col-sm-offset-2(v-link="{ path: '/print/day' }")
          h2 Próximo evento

    template#pgPrintMonth
      .print_month
        .content
          h3 Eventos do Mês
          article.article_print
            .wrap_data
              span.day {{events[0].dia}}
              span.month {{events[0].mes}}
              span.week {{events[0].semana}} {{events[0].horario}}
            .wrap_content
              hgroup
                h1.h3 {{events[0].evento}}
                h2.h4 {{events[0].local}}
          article.article_print
            .wrap_data
              span.day {{events[1].dia}}
              span.month {{events[1].mes}}
              span.week {{events[1].semana}} {{events[1].horario}}
            .wrap_content
              hgroup
                h1.h3 {{events[1].evento}}
                h2.h4 {{events[1].local}}
          article.article_print
            .wrap_data
              span.day {{events[2].dia}}
              span.month {{events[2].mes}}
              span.week {{events[2].semana}} {{events[2].horario}}
            .wrap_content
              hgroup
                h1.h3 {{events[2].evento}}
                h2.h4 {{events[2].local}}
          article.article_print
            .wrap_data
              span.day {{events[3].dia}}
              span.month {{events[3].mes}}
              span.week {{events[3].semana}} {{events[3].horario}}
            .wrap_content
              hgroup
                h1.h3 {{events[3].evento}}
                h2.h4 {{events[3].local}}
          h5 mais infos em ina.o4o.io

    template#pgPrintDay
      .print_day
        .content
          h3 Semana que vem
          .wrap_data
            span.day {{events[0].dia}}
            span.month {{events[0].mes}}
          h1 {{events[0].evento}}
          h2 {{events[0].local}}
          h5 mais infos em ina.o4o.io

    

    script(src="js/app.js")